#board {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #070838;
  padding: 5px
}

.cell {
  background-color: rgba(249, 91, 91, 0.8);
  border: 1px solid rgba(88, 4, 4, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 25vmin;
  text-align: center;
}

#bottombar {
  height: 5vh;
}

#instructions {
  height: 8vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid black;
}

#bottombar button {
  border: 0px;
  transition-duration: 0.2s;
  width: 50%;
  /* height: 100%; */
  margin: 10;
  padding: 10;
  position: relative;
  float: left;
  font-size: 2vw
}

#newGameButton:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

#undoButton:hover {
  background-color: #ff2e2e; /* Green */
  color: white;
}

#cellText {
  text-align: center;
  font-size: 70px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.playable { background-color: rgb(169, 255, 169);}